#####################################################################################################
# ******************************* TABLE OF CONTENTS *************************************************
#####################################################################################################
# - PLATFORM
# - WEB-APP
# - MAIL-BRIDGE
# - STORAGE
# - REALTIME
# - DB
# - MAIL-BRIDGE & WEB-APP


############################################################################################
# ************************************ platform ********************************************
############################################################################################
PLATFORM_URL=http://localhost:3300


###########################################################################################
# ************************************ web-app ********************************************
###########################################################################################
WEBAPP_URL=http://localhost:3000
# Generate by running in a terminal: openssl rand -hex 32
WEBAPP_AUTH_SECRET=secretsecretsecret


######################################################################################
# *************************************** db *****************************************
######################################################################################
DB_HOST="localhost"
DB_PORT="3306"
DB_USER="boi"
# openssl rand -base64 32
DB_PASSWORD=""
DB_NAME="dankhole"
DATABASE_URL="mysql://$DB_USER:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_NAME?connectTimeout=50000"


############################ NEXT_PUBLIC VARIABLES ############################